

.centrar{
    background-color: #e57816;   
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.container-fluid.bg-white.border.shadow.text-center{
    border-radius: 20px;
} 

.form-control.p{
    width: 100%;
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 2em;
    outline: none !important;
    margin: 1.5em auto;
    transition: all .5s ease;
}

.form-control.p:focus{
    box-shadow: 0px 0px 0px transparent !important; 
    border-color: #000 !important;   
}


@media(max-width: 575px){
    .centrar{
        display: none;
    }
}